{{#section 'head'}}
    <!-- we want Google to ignore this page -->
    <meta name="robots" content="noindex">
{{/section}}

<h1>evaluate</h1>

{{! super-secret comment 在源代码内看不见的注释}}
<!-- super-secret comment 在源代码内能看见的注释-->

{{#section 'customjs'}}
    <!--<script>-->
        <!--$('document').ready(function(){-->
            <!--$('h1').html('jQuery Works');-->
        <!--});-->
    <!--</script>-->
{{/section}}
