<section class="container">
    <div class="main">
        <h1 class="page-header">吴亦凡</h1>
        <div class="row placeholders">
            <p class="text">参演电影</p>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="images/dy12.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
                <h5>星际特工：千星之城&nbsp;&nbsp;2017-08-25</h5>
                <span class="text-muted">饰演：纳泽</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="images/dy11.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
                <h5>极限特工：终极回归&nbsp;&nbsp;2017-02-10</h5>
                <span class="text-muted">饰演：Nicks</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="images/dy10.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
                <h5>西游伏妖篇&nbsp;&nbsp;2017-01-28</h5>
                <span class="text-muted">饰演：唐三藏</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="images/dy9.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
                <h5>爵迹&nbsp;&nbsp;2016-09-30</h5>
                <span class="text-muted">饰演：银尘</span>
            </div>
        </div>
        <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="images/dy7.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
                <h5>Label夏有乔木雅望天堂&nbsp;&nbsp;2016-08-05</h5>
                <span class="text-muted">饰演：夏木</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="images/dy16.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
                <h5>致青春2&nbsp;&nbsp;2016-07-08</h5>
                <span class="text-muted">饰演：程铮</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="images/dy8.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
                <h5>老炮儿&nbsp;&nbsp;2015-12-24</h5>
                <span class="text-muted">饰演：谭小飞</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="images/dy15.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
                <h5>有一个地方&nbsp;&nbsp;2015-02-10</h5>
                <span class="text-muted">饰演：彭泽阳</span>
            </div>
        </div>
        <div class="row placeholders">
            <p class="text">音乐作品</p>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="images/gq2.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>6</h4>
                <span class="text-muted">2017</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="images/gq3.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>JUICE</h4>
                <span class="text-muted">2017</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="images/gq4.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>July</h4>
                <span class="text-muted">2016</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="images/gq5.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>从此以后</h4>
                <span class="text-muted">2016</span>
            </div>
        </div>
        <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="images/gq6.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>Bad Girl</h4>
                <span class="text-muted">2015</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="images/gq1.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>有一个地方</h4>
                <span class="text-muted">2014</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="images/gq8.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>时间煮雨</h4>
                <span class="text-muted">2014</span>
            </div>

        </div>
    </div>
    <div class="main">
        <h1 class="page-header">王俊凯</h1>
        <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>Label</h4>
                <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>Label</h4>
                <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>Label</h4>
                <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>Label</h4>
                <span class="text-muted">Something else</span>
            </div>
        </div>
        <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>Label</h4>
                <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>Label</h4>
                <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>Label</h4>
                <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>Label</h4>
                <span class="text-muted">Something else</span>
            </div>
        </div>
        <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>Label</h4>
                <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>Label</h4>
                <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>Label</h4>
                <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>Label</h4>
                <span class="text-muted">Something else</span>
            </div>
        </div>
    </div>
</section>
