<!-- 注册 -->
<section class="container">
    <form class="form-horizontal"
          name="signUpform"
          id="signUpform"
          action="/sign-up"
          method="POST"
    >
        <div class="form-group">
            <div class="col-sm-12">
                <input type="tel"
                       name="phoneNumber"
                       class="form-control"
                       id="phone"
                       placeholder="手机号"
                       required
                >
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <input type="password"
                       name="pwd"
                       class="form-control"
                       id="password"
                       placeholder="密码">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <input type="password"
                       name="repwd"
                       class="form-control"
                       id="repassword"
                       placeholder="确认密码">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4">
                <input type="text"
                       name="validation"
                       class="form-control"
                       id="inputValidate3"
                       placeholder="请输入验证码">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-9 col-sm-2">
                <input type="button" class="btn btn-default" onclick="validatorSignUpForm()" value="注册">
            </div>
        </div>
    </form>
</section>
